.nav-bg {
    background-color: #1F2228 !important;
    height: 75px;
}

.navbar-brand img {
    width: 35px;
}

.nav-link {
    font-weight: 500;
}

.active {
    color: #ffffff;
    font-weight: 600;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 45px;
        background-color: #3454CF;
        height: 6px;
        bottom: -18px;
        left: 50%;
        border-radius: 10px 10px 0px 0px;
        transform: translate(-50%, -0%);
    }
}


.profile-img {
    margin-right: 10px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.profile-descr {
    margin-right: 20px;

    .occuptn {
        opacity: .5;
    }
}

.icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #35383E;
    margin-right: 10px;
    border: 0;
    outline: 0;
}

.icons:last-child {
    margin-right: 0px;
}

.add-leads {
    white-space: nowrap;
    height: 40px;
    background-color: #3454CF;
    border-radius: 27.5px;
    padding: 0 20px;
    margin-right: 50px;
    color: #fff !important;
}

.mr-10 {
    margin-right: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.nav-search {
    width: 370px;

    input {
        height: 40px;
        width: 100%;
        border-radius: 27.5px;
        background-color: #35383E;
        border: 0px;
        outline: 0;
        padding: 0 10px 0 40px;
    }

    .search-ico {
        position: absolute;
        left: 15px;
        top: 6px;
        width: 16px;
        height: 16px;
    }
}

.navbar-toggler{
    border: 0px !important;
}

.navbar-toggler:focus{
    border: 0px !important;
    box-shadow: none !important;
}


@media (max-width: 1199.98px) { 
    .nav-search{
        width: 250px;
    }
}
@media (min-width: 991.98px){
    .user-profile-md{
        display: none !important;
    }
}
@media (max-width: 991.98px) {
    .nav-bg{
        height: auto;
    }
    // .nav-menu-res{
    //     height: calc(100vh - 100px);
    // }

    .navbar-toggler{
        padding-left: 0;
    }
    .navbar-brand{
        margin-right: 0px;
    }

    .active::before {
        width: 6px;
        height: 30px;
        bottom: 50%;
        left: -15px;
        border-radius: 0px 10px 10px 0px;
        transform: translate(0%, 50%);
    }

    .navbar-collapse{
        border-top: 1px solid #525252;
        margin-top: 10px;
        padding-top: 10px;
    }
    .user-profile-lg-n{
        display: none !important;
    }
    .user-profile-md{
        flex: 1;
        justify-content: flex-end;
    }
}