 <div class="login-Wrapper flex-wrap d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-sm-12 indro-col d-flex justify-content-end align-items-end">
        <div class="indroduction-card w-100">
            <div class="logo mb-4">
                <img class="w-100" src="../../../assets/images/logo.png" alt="">
            </div>
            <div class="m-head Urbanist wht pr-50 mb-2">All I need to tell you is Listen</div>
            <p class="discription Urbanist mb-5 wht pr-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img class="w-100 brdr-cornr" src="../../../assets/images/banner-mn-fs-04.jpg" alt="">
        </div>
    </div>
    <div class="col-md-6 col-sm-12 login-col d-flex justify-content-center align-items-center">
        <div class="login-form">
            <div class="m-head Urbanist blk mb-2">Welcome!</div>
            <p class="discription Urbanist mb-5 blk">Login with username and password</p>
            
            <div class="row g-3 needs-validation" novalidate>
                <div class="col-md-12">
                    <label for="validationEmail" class="form-label Urbanist fnt-14">Email Address</label>
                    <input type="text" class="form-control fnt-16 Urbanist" id="validationEmail" value="" placeholder="annmaria@gmail.com" autocomplete="off" required>
                </div>
                <div class="col-md-12 mb-4">
                    <label for="validationPassword" class="form-label Urbanist fnt-14">Password</label>
                    <div class="ps-rl">
                        <input type="password" class="form-control fnt-16 Urbanist pr-130" id="validationPassword" value="" placeholder="Password" required>
                        <button class="reset-btn Urbanist fnt-16">Reset Password</button>
                    </div>
                </div>

                <div class="col-md-12">
                    <button (click)="submitLoginForm()" class="btn btn-primary w-100 submit-btn Urbanist" type="submit">Login</button>
                </div>

                <div class="col-md-12">
                    <p class="fnt-16 text-center Urbanist mb-0">Don’t have an account? <a class="thm-blue text-decoration-none" [routerLink]="['']">Signup</a></p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="loading" class="pre-Loader d-flex justify-content-center align-items-center">
        <div  class="spinner-grow" style="width: 3rem; height: 3rem;" role="status"></div>
    </div>
</div>